@charset "UTF-8";

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    color: #fff;
    font-size: 0.9rem;
    background-color: #6494edec;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fade {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    }

    .fade.active {
    opacity: 1;
    transform: translateY(0);
}

img{
    max-width: 100%;
}

.link  img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    border-radius: 30px;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}

.section-title {
    display: inline-block;
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 80px;
    border-bottom: solid 2px #fff;
    letter-spacing: 2px;
}

.content-title {
    font-size: 1rem;
    margin: 10px 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 100px;
    padding: 0 4%;
    text-align: center;
}

/* header */
header {
    width: 100%;
    background-color: #888a9c9d;
}
header .site-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

.header-inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    display: flex;
}

#header li {
    margin-left: 32px;
}

#header li a:hover {
    opacity: 0.5;
}

/* mainvisual */
#mainvisual {
    margin-bottom: 80px;
}

#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 700px;
    object-fit: cover;
    object-position: 60% 40%;
    opacity: 0.85;
}

/* concept */
#concept .concept-txt {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
}

#concept .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#concept img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}

#concept .text {
    text-align: left;
}

#concept span {
    display: block;
}

/* gallery */
#gallery {
    background-color: black;
    width: 100%;
    padding: 80px 5%;
    color: #fff;
    text-align: center;
    position: relative;
}

#gallery image {
    display: block;
    position: absolute;
    z-index: 1;
    display: flex;
}

#gallery::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 140%;
    background: radial-gradient(
    circle,
    rgba(255,255,255,0.4) 0%,
    rgba(255,255,255,0) 70%
    );
    transform: translate(-50%, -50%);
    filter: blur(30px);
    z-index: -1;
}

#gallery .content img {
    box-shadow: 0 0 60px rgba(255,255,255,0.6);
    border-radius: 2px;
}

#gallery .content-top img {
    box-shadow: 0 0 60px rgba(255,255,255,0.6);
    border-radius: 2px;
}

#gallery .content-top {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    text-align: left;
}

#gallery .content{
    display: flex;
    gap: 30%;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

#gallery .content h3 p {
    flex-direction: column;
}

#gallery span {
    display: block;
}


#gallery .content-title {
    font-size: 1.2rem;
}

#gallery .content  {
    text-align: left;
}

#gallery .image-works {
    width: 100%;
    max-width: 244px;
    height: 354px;
    margin: 5% 0 5% 0;
    position: relative;
}

#gallery .image {
    width: 100%;
    max-width: 354px;
    height: 244px;
}

#gallery .reverse .image {
    width: 100%;
    max-width: 244px;
    height: 354px;
}
#gallery .reverse{
    flex-direction: row-reverse;
}

#gallery .link {
    padding: 6% 0;
}

#gallery .link a:hover {
    opacity: 0.7;
}

#gallery .link p {
    letter-spacing: 3px;
    font-size: 1.5rem;

}

#gallery .link img {
    .link  img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    border-radius: 30px;
}
}



/* news */
#news {
    padding: 5% 0 5% 0;
    margin-bottom: 0;
    letter-spacing: 5px;
    background-color: #718da8;
    max-width: 100%;
}


#news .date{
    padding-right: 20%;
    font-weight: bold;
    font-size: 1.1rem;
}

#news .news-list {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    text-align-last: left;
}

/* footer */
#footer {
    background-color: #A9A9A9;
}
#footer .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

#footer .link img {
    width: 100%;
    max-width: 100px;
    height: 70px;
    border-radius: 30px;
}

#footer .link img:hover {
    opacity: 0.5;
}

#footer .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 1%;
}


#footer .nav-list li {
    width: 100px;
    text-align: center;
}

#footer li a:hover {
    opacity: 0.5;
}

#footer #end {
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
    margin-top: 5%;
}

/* ハンバーガー */
.hamburger {
    width: 30px;
    cursor: pointer;
    display: none; /* ←PCでは非表示 */
    z-index: 100;
    }

.hamburger span {
    display: block;
    height: 2px;
    background: #000;
    margin: 6px 0;
}



/* 開いたとき */


/* スマホ時だけ発動 */
@media (max-width: 768px) {
    /* header */
    header {
        background-color: #6c6c6cbe;
    }
    /* nav */
    .hamburger {
    display: block;
    }

#nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background: #333;
    transition: 0.3s;
}

    #nav.active {
    right: 0;
}
    nav ul {
    display: flex; /* 縦並び */
    padding: 60px 20px;
    flex-direction: column;
    }

    nav li {
    margin-bottom: 20px;
    }

    /* concept */
    #concept  {
    padding: 80px 15%;
    }

    #concept .content{
        display: flex;
        flex-direction: column;
        padding-top: 20%;
    }

    #concept span {
        display: contents;
    }

    /* gallery */

    #gallery {
    padding: 80px 25%;
    }

    #gallery .content {
        display: flex;
        flex-direction: column;
    }

    #gallery .text {
        display: contents;
    }

    #gallery .content span {
        display: contents;
    }

    #gallery .content .content-title {
        order: -1;
        padding-bottom: 10%;
    }

    #gallery .content .image .image-works {
        order: 0;
    }

    #gallery .content .text p{
        order: 1;
    }

    #gallery .content {
        flex-direction: column;
    }

    /* news */
    #news {
        max-width: 300px;
        background-color: #6494ed0e;
        padding: 20% 0 20% 0;
    }

    #footer .footer-inner {
        display: flex;
        flex-direction: column;
    }

    #footer .footer-nav {
        order: -1;
    }

    #footer .footer-work {
        order: 0;
    }

    #footer .nav-list {
        display: flex;
        flex-direction: column;
        order: -1;
    }
}